html(lang="eng")
    head 
        title Add 
        style
            include ../styles.css

    body 
    a(class="head" href="/products") Products
    br
    h1 Add Product
    div.input
        | Name: 
        input(type="text",id="name")
        br
        br

        | Price:
        input(type="text",id="price")
        br
        br

        | Dimensions(x*y*z ):
        br
        | x 
        input(type="text",id="x")
        br
        | y 
        input(type="text",id="y")  
        br  
        | z 
        input(type="text",id="z")
        br
        br

        | Stock: 
        input(type="text",id="stock")

        button(type="button" id="add") Add

script(src="../add.js")